<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketClientIp" value="127.0.0.1"/>
    <add key="SocketClientPort" value="1010"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resources"/>
    </assemblyBinding>
  </runtime>
</configuration>