<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="1010"/>
    <add key="DisplayMonitor" value="1"/>
    <add key="ColorAccentLight" value="#00C7FF"/>
    <add key="InterfaceSoundPackName" value="Default"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resources"/>
    </assemblyBinding>
  </runtime>
</configuration>