/packages
/CtrlUI/bin
/CtrlUI/obj
/CtrlUI-Admin/bin
/CtrlUI-Admin/obj
/DirectXInput/bin
/DirectXInput/obj
/DirectXInput-Admin/obj
/DirectXInput-Admin/bin
/DirectXInput-Launcher/obj
/DirectXInput-Launcher/bin
/DriverInstaller/obj
/DriverInstaller/bin
/FpsOverlayer/obj
/FpsOverlayer/bin
/FpsOverlayer-Admin/bin
/FpsOverlayer-Admin/obj
/FpsOverlayer-Launcher/obj
/FpsOverlayer-Launcher/bin
/KeyboardController/obj
/KeyboardController/bin
/KeyboardController-Admin/obj
/KeyboardController-Admin/bin
/KeyboardController-Launcher/obj
/KeyboardController-Launcher/bin
/LibraryShared/obj
/LibraryUsb/obj
/Updater/bin
/Updater/obj
*.user
*.aps
*.pfx
*.vs