<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShortcutLaunchKeyboardController" value="True"/>
    <add key="ShortcutAltEnter" value="True"/>
    <add key="ShortcutAltF4" value="True"/>
    <add key="ShortcutAltTab" value="True"/>
    <add key="ShortcutWinTab" value="False"/>
    <add key="ShortcutScreenshot" value="True"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resources"/>
    </assemblyBinding>
  </runtime>
</configuration>